/*.enter {
  opacity: 0;
  transform: translateX(-100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms linear;
}*/

h1 {
  max-width: 1170px;
  min-height: 60px;
  margin-right: auto;
  color: blue;
  font-weight: 900;
  font-size: 60px;
}

.Appbar-slideIn-appear {
  transform: translateX(-100%);
}

.Appbar-slideIn-appear-active {
  transform: translateX(0);
  transition: transform 500ms linear;
}
